#portfolio{
width: 100%;
height: auto;
background-color: #776A5D;
margin-top: 2rem;
padding-top: 0.5rem;
justify-content: center;
padding-bottom: 2rem;
align-items: center;
}
.areaimgport{
 display: flex;
 width: 100%;
 height: auto;
 margin: 1rem;
 flex-direction: row;
 justify-content: center;
 gap: 1rem;
}
.imgport{
 width: 340px;
 height: 100%;
 object-fit: cover;
 object-position:center;
}